<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <arg name="stdout" default="screen" />
    <node pkg="tf" type="static_transform_publisher" name="sensor1_rot_tf" args="0 0 0 -1.57079632679 0 -1.57079632679 rotated_camera_color_optical_frame camera_color_optical_frame 10" />
    <node pkg="tf" type="static_transform_publisher" name="velo2cam_tf" args="0.00214304 0.0858439 0.138853 -1.53377 0.00781907 0.0102178 laser_link rotated_camera_color_optical_frame 100" />
</launch>
